<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cohort.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @cohort.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @cohort.end_date %>
</p>

<p>
  <strong>Teacher:</strong>
  <%if @cohort.teacher.nil?%>
    <p>There is no assigned teacher </p>
    link_to 'Assign a teacher', edit_cohort_path
  <%else%>  
    <%= @cohort.teacher.teacher_full_name %>
  <% end %>  
</p>

<% @cohort.students.each do |student|%>
  <p>
    <%student.first_name%>
    <%student.last_name%>
  </p>
<%end%>


<%= link_to 'Edit', edit_cohort_path(@cohort) %> |
<%= link_to 'Back', cohorts_path %>
