<p id="notice"><%= notice %></p>

<h1>Cohorts Teachers</h1>

<table>
  <thead>
    <tr>
      <th>Cohort</th>
      <th>Teacher</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cohorts_teachers.each do |cohorts_teacher| %>
      <tr>
        <td><%= cohorts_teacher.cohort_id %></td>
        <td><%= cohorts_teacher.teacher_id %></td>
        <td><%= link_to 'Show', cohorts_teacher %></td>
        <td><%= link_to 'Edit', edit_cohorts_teacher_path(cohorts_teacher) %></td>
        <td><%= link_to 'Destroy', cohorts_teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cohorts Teacher', new_cohorts_teacher_path %>
